# Default ignored files
/../../CUFitness /.idea/shelf/
/../../CUFitness /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../CUFitness /.idea/httpRequests/
# Datasource local storage ignored files
/../../CUFitness /.idea/dataSources/
/../../CUFitness /.idea/dataSources.local.xml
